body {
  /* border-style: solid; */
  /* background-color: #343a40; */
}

header #headerLogo {
  display: none;
}

footer ion-icon {
  font-size: 24px;
  text-align: center;
}

h3 {
  color: #156f86;
}

h4 {
  color: #309db9;
  font-size: 1.2rem;
}

p, ul {
  font-size: 0.9rem;
}

.background-btn {
  background-color: #cfe1f0;
  color: #2e3d46;
}

p.work-details {
  padding: 0 20px;
  text-align: justify;
}

.ul-nostyle {
  list-style-type: none;
  padding: 0;
}

.resume-date {
  color: #757b84;
}

footer a {
  color: #445660;
}

footer a:hover {
  color: #2e3d46;
}

@media (min-width: 576px) {
  section #resumeContact {
    text-align: center;
  }
}

@media (min-width: 768px) {
  section #resumeContact {
    text-align: right;
  }
}

@media (min-width: 992px) {
  header nav #headerText {
    display: none;
  }

  header #headerLogo {
    display: inline-block;
  }
}

@media (min-width: 1200px) {}