body {
  /* border-style: solid; */
  /* background-color: #343a40; */
}

header #headerLogo {
  display: none;
}

footer ion-icon {
  font-size: 24px;
  text-align: center;
}

@media (min-width: 576px) {}

@media (min-width: 769px) {}

@media (min-width: 992px) {
  header nav #headerText {
    display: none;
  }

  header #headerLogo {
    display: inline-block;
  }
}

@media (min-width: 1200px) {}