body {
  /* border-style: solid; */
  /* background-color: #343a40; */
}

header {
  max-height: 10%;
}

header img {
  background-color: #FFFFFF;
}

header #headerLogo {
  display: none;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.1rem;
}

p {
  font-size: 0.9rem;
}

#work img {
  width: 80%;
}

/* div {
  border-style: solid;
}

section {
  border-style: solid;
} */
@media (min-width: 576px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
  h1 {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }

  header nav #headerText {
    display: none;
  }

  header #headerLogo {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}